<html>
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen"  charset="utf-8">
    <link rel="stylesheet" href="/css/normalize.css"> -->
    <title>PDXpress Salon!</title>
  </head>
  <body>
      <h1>Welcome to PDXpress Salon!</h1>

      <p>Below are {{ stylist.getName }}'s clients:</p>


      {% if clients is not empty %}
          <ul>
                {% for client in clients %}
                    <li>{{ client.getName }}</li><br>
                {% endfor %}
          </ul>
      {% else %}
          <p>There are no client profiles yet!</p>
      {% endif %}

      <a href='/'>Add more!!</a>

      <form action='/delete_all_clients' method='post'>
        <button type='submit'>Clear All</button>
      </form>



  </body>
</html>
