<html>
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" media="screen" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen"  charset="utf-8">
    <link rel="stylesheet" href="/css/normalize.css"> -->
    <title>PDXpress Salon!</title>
  </head>
  <body>
      <h1>Welcome to PDXpress Salon!</h1>

      <h3>{{ stylist.getName }}'s client list</h3>

      {% if clients is not empty %}
          <ul>
                {% for client in clients %}
                    <li>{{ stylist.getClients }}</li>
                {% endfor %}
          </ul>
      {% else %}
          <p>{{ stylist.getName }} has no clients yet!</p>
      {% endif %}

      <p>Below a stlyist may add her/his clients:</p>

      <form action='/clients' method='post'>
          <input id="stylist_id" name="stylist_id" type="hidden" value="{{ stylist.getId() }}">
          <label for='name'>Client Name:</label>
          <input id='name' name='name' type='text' required>

          <button type='submit'>Add Client</button>
      </form>




  </body>
</html>
